<div class="container py-5">
  <div class="row mb-4">
    <div class="col-md-6">
      <h1 class="display-4">Political Businesses</h1>
    </div>
    <div class="col-md-6 text-end">
      <%= link_to new_business_path, class: 'btn btn-primary btn-lg' do %>
        <i class="bi bi-plus-circle me-2"></i> Add New Business
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @businesses.each do |business| %>
      <div class="col-md-12">
        <div class="card mb-4">
          <%= render 'card_body', business: business %>
          <div class="card-footer bg-transparent">
            <%= link_to 'View Details', business_path(business), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
