<footer class="bg-light footer mt-auto mx-auto py-3 w-[75%]">
  <div class="flex justify-between mx-auto text-muted">
    <span>&copy; <%= Date.today.year %> Carpitan</span>
    <ul class="flex mb-0">
      <li class="ml-3"><%= link_to "Terms", terms_path %></li>
      <li class="ml-3"><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </div>
</footer>
