<h1>Game On</h1>
<p class="lead">Our leaders must be held accountable</p>

<p> Following are businesses owned by our leaders. Should they pass the oppressive bill, we will boycott these businesses. </p>

<%= link_to "Boycott these businesses", businesses_path, class: "btn btn-primary" %>
