<h1>Privacy Policy</h1>

<p>Your privacy is important to us. This Privacy Policy outlines how we collect, use, and protect your personal information.</p>

<h2>1. Information We Collect</h2>
<p>We may collect the following types of information:</p>
<ul>
    <li>Personal identification details (e.g., name, email address).</li>
    <li>Usage data (e.g., login details, activity on the platform).</li>
</ul>

<h2>2. How We Use Your Information</h2>
<p>We use your information to:</p>
<ul>
    <li>Provide and improve our services.</li>
    <li>Ensure the security of our platform.</li>
    <li>Communicate with you regarding updates, services, and support.</li>
</ul>

<h2>3. Data Security</h2>
<p>We are committed to ensuring that your information is secure. We take the following measures to protect your data:</p>
<ul>
    <li>Storing personal information in secure databases.</li>
    <li>Encrypting sensitive data to enhance security.</li>
    <li>Implementing robust access controls to prevent unauthorized access.</li>
</ul>

<h2>4. Data Sharing</h2>
<p>We do not share your personal information with any third parties outside our platform unless required by law. Your data remains confidential and is used solely for purposes related to our services.</p>

<h2>5. Your Rights</h2>
<p>You have the right to:</p>
<ul>
    <li>Access and review your personal information.</li>
    <li>Request corrections to your information.</li>
    <li>Request the deletion of your information - you can do that by visiting your account settings by clicking on the profile dropdown in the top right</li>
</ul>

<h2>6. Changes to This Policy</h2>
<p>We may update this Privacy Policy from time to time. Significant changes will be communicated to our users promptly.</p>

<p>Thank you for trusting our platform. Your privacy and security are our top priorities.</p>
