<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <%= render 'card_body', vote: @vote %>
        <div class="card-footer">
          <%= link_to 'All Legislation Votes', legislation_votes_path(@vote.legislation), class: 'btn btn-secondary' %>
          <% if @vote.user == current_user %>
            <%= link_to 'Edit', edit_legislation_vote_path(@vote.legislation, @vote), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
